<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091283212597-f2ldlu34miu7tiv1mkpolbhpvlc9u24m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091283212597-f2ldlu34miu7tiv1mkpolbhpvlc9u24m</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-uWghoBB-b-Qq0u-PYSeRAqiz5IIFpc</string>
	<key>GCM_SENDER_ID</key>
	<string>1091283212597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shcherbakov.fastFood</string>
	<key>PROJECT_ID</key>
	<string>fast-food-a0b1d</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-food-a0b1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091283212597:ios:e200b62d7c80f1432e547c</string>
</dict>
</plist>